.compare-panel {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 17em;
}

.compare-panel__body {
    width: 100%;
    position: absolute;
    top: 9em;
    bottom: 0;
    user-select: none;
}