.viewSettings-panel {
    width: 100%;
    height: 4em;
    position: absolute;
    bottom: 13em;
    display: flex;
}

.viewSettings-panel__switch {
  margin: auto auto;
  width: 100px;
  height: 80%;
  display: flex;
  border: 1px solid #0e93dd;
  border-radius: 5px;
  font-size: 2em;
  color: #0e93dd;
  text-align: center;
  line-height: 1.5em;
}

.viewSettings-panel__switch__item {
  display: inline-block;
  width: 50px;
  cursor: pointer;
}